<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WalletX</title>
</head>
<body>
    <h1>Welcome! <%= userData?.to || "User" %> to Digi Mess</h1>

    <form action="/wallet/balance" method="get">
        <button type="submit">Check Your Balance</button>
    </form>
    <form action="/wallet/transfer" method="post">
        <button type="submit">Transfer Amount</button>
    </form>
    <form action="/wallet/addCredit" method="post">
        <button type="submit">Add-Credit</button>
    </form>
</body>
</html>