<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
<body>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Enter your name here">
        <input type="text" name="rollNo" placeholder="Enter your rollNo here">
        <input type="email" name="email" placeholder="Enter your Email here">
        <input type="password" name="password" placeholder="Enter your Password here">
        <button>Register</button>
    </form>
    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>
</body>
</html>